RESEND_API_KEY=<RESEND_API_KEY>
RESEND_FROM_EMAIL=foo@bar.com
RESEND_RECIPIENTS=foo@bar.com,bar@foo.com
ENEO_API_KEY_HEADER_NAME=X-API-Key
ENEO_SUPER_API_KEY=ENEO_SUPER_API_KEY
ENEO_BACKEND_URL=http://localhost:8123
ENEO_PREDEFINED_OWNER_ROLE_ID=<ROLE_UUID>
